.user-dp {
    border-radius: 100%;
    height: 60px;
    width: auto;
}

.intro-container {
    background-color: aqua;
}

.profile-container {
    background-color: #15181e;
    min-height: 100vh;
    width: 100%;
}

.about-me-container {
    background: #262c36;
    font-size: 20px;
    color: #a4c0cd;
    padding: 10px;
    border-radius: 10px;
    min-height: 150px;
}

.profile-headings {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.social-media-name {
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.social-media-links-container {
    background: #262c36;
    font-size: 20px;
    color: #a4c0cd;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
}

.social-media-links-container>input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: white;
}

.eye-button {
    background-color: transparent;
    outline: none;
    border: none;
}

.hr {
    border-color: #7692c4;
    height: 6px;
}

.interest-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    gap: 17px;
}

.interest-box {
    width: max-content;
    height: 40px;
    background-color: rgb(236, 166, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    /* color: blue; */
    text-transform: capitalize;
}

.delete-interest-button {
    background-color: transparent;
    border: none;
    outline: none;
}