.update-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #15181e;
}

.update-form-container {
    width: 95%;
    max-width: 765px;
    margin: 20px 0;
    background-color: #2d3441;
    color: white;
    border-radius: 5px;
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    border-top: 2px solid white;
    width: 75%;
    margin-left: 4px;
}



.update-form {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.update-field-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.update-field-container>label {
    font-size: 20px;
}

.update-field-container>input,
.update-field-container>textarea,
.update-field-container>select {
    outline: none;
    border: none;
    background-color: #070a0f;
    height: 38px;
    color: white;
    border-radius: 4px;
    font-size: 19px;
    padding: 0 5px;
}


.update-field-container>textarea {
    height: 100px;
}

.update-submit-button {
    max-width: 600px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: none;
    margin-top: 10px;
    /* color: white; */
    height: 40px;
    background-color: rgb(231, 173, 12);
    width: 100%;

}