.navbar-container {
    background-color: #262c36;
    width: 100%;
    height: 50px;
    padding: 6px 8px;
    /* margin-bottom: 20px; */
    color: white;
    box-shadow: 0 0 10px 8px #262c36;
}

.nav-logo {
    height: 40px;
    width: auto;
}

.logout-button {
    background: transparent;
    color: white;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: none;
}